.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../image/background.png");
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 20000000
}

.profile-main {
    display: flex;
    flex-direction: column;
    background-color: #262c36;
    width: 44vw;
    align-items: flex-start;
}

.left-profile {
    width: 125px;
    height: 125px;
    background-image: url("../image/profile-edit.png");
    background-size: 100%;
    background-position: center;
    border-radius: 50px;
    margin-left: 20px;
}

.password {
    display: flex;
    width: 34vw;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #262c36;
    flex-wrap: wrap;
    position: absolute;
}

.file {
    margin-left: 20px;
}


.interest {
    display: flex;
    width: 34vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #262c36;
    flex-wrap: wrap;
    position: absolute;
    z-index: 2;
}

.input {
    width: 83%;
    height: 15px;
    color: white;
    background-color: #15181e;
    border-radius: 8px;
    outline: none;
    font-family: sans-serif !important;
    font-size: 16px;
    font-weight: 700;
    font-weight: 300;
    border: 1px solid #262c36;
    padding: 15px;
    box-sizing: border-box;
    margin-left: 20px;
}

.label {
    margin-top: 20px;
    margin-left: 20px;
    font-family: sans-serif !important;
    font-size: 16px;
    font-weight: 700;
    font-weight: 300;
    text-decoration: none;
    color: white;
}

.head {
    margin-top: 20px;
    margin-left: 20px;
    font-family: sans-serif !important;
    font-size: 20px;
    font-weight: 700;
    font-weight: 300;
    color: white;
}

.head-interest {
    margin-top: 20px;
    font-family: sans-serif !important;
    font-size: 24px;
    font-weight: 700;
    font-weight: 300;
    color: white;
}

.btn {
    display: flex;
    flex-direction: row;
    width: 83%;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.btn-insert {
    display: flex;
    flex-direction: row;
    width: 83%;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btnins {
    align-items: center;
    background: #f3912e;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 13px;
    height: 28px;
    justify-content: center;
    line-height: 1;
    width: 7vw;
    cursor: pointer;
}

.data-collection {
    width: 83%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
}

.data {
    align-items: center;
    background: #15181e;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 20px;
    height: 38px;
    justify-content: center;
    line-height: 1;
    width: 200px;
    margin-top: 8px;
}

@media(max-width:600px) {
    .left-profile {
        width: 80px;
        height: 80px;
    }

    .file {
        width: 80px;
        font-size: 6px;
    }
}

@media(max-width:550px) {
    .label {
        font-size: 10px;
        margin-left: 5px;
    }

    .head {
        font-size: 8px;
        margin-left: 5px;
    }

    .head-interest {
        font-size: 12px;
    }

    .btnins {
        font-size: 6px;
    }

    .btn {
        margin-left: 5px;
    }

    .input {
        margin-left: 5px;
    }

    .data {
        font-size: 10px;
    }
}

@media(max-width:310px) {
    .left-profile {
        width: 50px;
        height: 50px;
        margin-left: 5px;
    }

    .file {
        width: 50px;
        margin-left: 5px;
    }

    .label {
        font-size: 8px;
        margin-left: 5px;
    }

    .head {
        font-size: 6px;
        margin-left: 5px;
    }

    .head-interest {
        font-size: 12px;
    }

    .btnins {
        font-size: 5px;
    }

    .btn {
        margin-left: 1px;
    }

    .input {
        margin-left: 1px;
    }

    .data {
        font-size: 8px;
    }
}